.root {
    -fx-background-color: #00247d;
}

.button {
    -fx-background-color: #cc142b;
    -fx-border-color: #cc142b;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-alignment: center;
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;

}

.button:hover {
    -fx-font-size: 16px;
    -fx-background-color: #00247d;
    -fx-border-color: #cc142b;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 4px;
}

.button:pressed {
    -fx-background-color: #cc142b;
    -fx-background-size: 80%;
    -fx-background-position: center;

    -fx-border-color: #00247d;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;

}

.button:disabled {
    -fx-opacity: 0.6;
    -fx-cursor: not-allowed;
}

.button-correct:disabled {
    -fx-opacity: 0.6;
    -fx-cursor: not-allowed;

    -fx-background-color: #338333;
    -fx-text-fill: #e6f0e6;
}

.button-incorrect:disabled {
    -fx-opacity: 0.6;
    -fx-cursor: not-allowed;

    -fx-background-color: #800000;
    -fx-text-fill: #b96666;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-background-color: #00247d;
    -fx-label-padding: 4px;
    -fx-background-radius: 4px;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-text-alignment: center;

}

.accordion .titled-pane {
    -fx-background-color: linear-gradient(#00247d 0%, #0035bd 100%);
}

.choice-box {
    -fx-background-color: #0035bd;
    -fx-mark-colour: #cc142b;
}

.choice-box .context-menu {
    -fx-background-color: #0035bd;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#00247d 0%, #0035bd 100%);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 18px;

}

.table-view .table-cell {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;

}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #00247d;
}

.table-view-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #0035bd;
}

.table-row-cell:selected {
    -fx-background-color: #337dff;
}

